@using Abp.Collections.Extensions
@using KuMaDaoCoreAbp.Web.Areas.Admin.Views
@using KuMaDaoCoreAbp.Web.Areas.Admin.Views.Shared.Components.SideBarNav
@model SideBarNavViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + "admin/" + url;
    });
}
<ul class="nav metismenu" id="side-menu">
    @foreach (var item in Model.MainMenu.Items)
    {
        var active = item.Items.FirstOrDefault(m => m.Name == Model.ActiveMenuItemName);
        <li class="@(active!=null? "active" : "")">
            @if (item.Items.IsNullOrEmpty())
            {

                <a href="@calculateMenuUrl(item.Url)">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">@item.Name</span> <span class="fa @item.Icon"></span>
                </a>
            }
            else
            {
                <a href="#">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">@item.Name</span> <span class="fa @item.Icon"></span>
                </a>
                <ul class="nav nav-second-level  collapse @(active!=null ? "in" : "") ">
                    @foreach (var subItem in item.Items)
                    {
                        <li ><a href="@calculateMenuUrl(subItem.Url)" class="@(subItem.Url==Model.ActiveMenuItemName?"active":"")">@subItem.DisplayName</a></li>
                    }
                </ul>
            }

        </li>
    }
   
</ul>
