@using System.Globalization
@using System.Globalization
@using Abp.Configuration
@using Abp.Web.Security.AntiForgery
@using Abp.Configuration.Startup

@using KuMaDaoCoreAbp.SignalR
@using KuMaDaoCoreAbp.Web.Resources
@using KuMaDaoCoreAbp.Configuration
@inject KuMaDaoCoreAbp.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager;
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <environment names="Development">
        @*<link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />*@
        <link href="~/inspinia/css/bootstrap.css" rel="stylesheet" />
        <link href="~/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
        <link href="~/inspinia/css/animate.css" rel="stylesheet" />


        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/inspinia/css/style.css" rel="stylesheet" />
        <link href="~/libs/admin_inner.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
<body style="background-color: red;">
    <div id="page-wrapper" class="gray-bg dashbard-1" style="margin:0">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/inspinia/js/jquery-2.1.1.js"></script>
        <script src="~/inspinia/js/bootstrap.js"></script>
        @*<script src="~/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/inspinia/js/plugins/slimscroll/jquery.slimscroll.js"></script>*@

        @*<script src="~/inspinia/js/inspinia.js"></script>*@
        @*<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>*@
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>*@
        @*zh-CN*@
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        @*<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>*@
        @*遮罩*@
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        @*消息提示*@
        @*<script src="~/inspinia/js/plugins/toastr/toastr.min.js"></script>*@
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        @*弹框*@
        <script src="~/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>
        @*<script src="~/lib/sweetalert/dist/sweetalert-dev.js" asp-append-version="true"></script>*@
        @*等待*@
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>

        @*scroll*@
        @*<script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>*@
        @*水波纹*@
        @*<script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>*@
        @*生命周期*@
        <script src="~/lib/push.js/push.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        @*<script src="~/js/admin.js"></script>*@
        @*//编辑提交的时候需要*@
        <script src="~/js/main.js" asp-append-version="true"></script>
        @*<script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>*@


    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>
    <script>
    //Localizing momentjs
    moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
